/*=============================================================GENERAL*/
	* {
		font-size: 10pt;
		font-family: arial,sans;
		line-height: 1.75em;
		margin: 0px;
	}
	body {
		overflow-y: scroll;
		background-color: #C3C5E2;//#9B9FD9;
	}
	h1 {
		font-size:20px;
	}
	div {
		overflow: auto;
	}
	a {
		color: #44a;
	}
/*=================================================================IDs*/
	#wrapper {
		margin-left: 50px;
		margin-right: 50px;
		background-color: #fff;
		height: auto !important;
		min-height: 400px;
		padding: 50px;
	}
/*=======================================================SEMESTER MENU*/
	h2.semester {
		font-size:16px;
		display: inline;
	}
	.semester {
		margin: 5px;
	}
/*==============================================================TABLES*/
	table {
		margin: 20px;
		border-collapse: collapse;
	}
	td { 
		background: #fff;
		border: 2px solid #3D3F57;
		padding: 2px 10px;
	}
	th, th a {
		color: #ddd;
		text-shadow: 1px 1px 2px #0c110c;
		text-decoration: none;
	}
	th {
		background: #3D3F57;
		border-left: 2px solid #3D3F57;
		border-right: 2px solid #3D3F57;
		padding: 0px 7px;
	}
	tr.onhover td {
		background: #FFF982;
	}
	td.task, tr.onhover td.task {
		background-color: #C3C5E2;
	}
	td.task a, tr.onhover td.task a {
		width: 100%;
		height: 100%;
		display: block;
		color: #113;
		font-family: verdana, arial;
		text-shadow: 1px 1px 2px #ddd;
	}
