<!DOCTYPE html>
<html lang="pl">
<head>
	<link rel="stylesheet" href="{{STATIC_URL}}style.css" />
	<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico">
	<title>{% block title %}Programowanie zespołowe{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
{% block content %}
{% endblock %}
</div>
</body>
</html>
