{% extends "base.html" %}
{% block content %}

<h1>Programowanie Zespołowe</h1>
<br />
{% for semester in semesters %}
	{% if semester == showed_semester %}
		<h2 class="semester">{{ semester }}</h2>
	{% else %}
		<a class="semester" href="{% url 'semester' semester.id %}">{{ semester }}</a>
	{% endif %}
{% endfor %}
<br />

{% if taskdays %}
<table>
	{% if students %}
	<tr>
		<th></th>
		{% for student in students %}
			<th><a href="{% url 'student' student.id %}">{{ student }}</a></th>
		{% endfor %}
	</tr>
	<tr>
		<th>Σ</th>
		{% for student in students %}
			<th>{{student.points}}</th>
		{% endfor %}
	</tr>
	{% endif %}
	{% for day,tasks in taskdays %}
		<tr>
		<td colspan="{{students|length|add:"1"}}">{{day|date:"j E"}}</td></tr>
		{% for task,solutions in tasks %}
			<tr onmouseover="this.className='onhover'" onmouseout="this.className=''">
				<td class="task"><a href="{{ task.url }}" target="_blank">{{task.name}}</a></td>
				{% for student,solved in solutions %}
					<td>
					{% if solved %}
						ok
					{% else %}
						{% if user.is_superuser %}
							<a href="{% url 'add_solution' task.id student.id %}" 
							onClick="return confirm('Czy ściałbyś dać akcepta?')">−</a>
						{% else %}
						−
						{% endif %}
					{% endif %}	
					</td>
				{% endfor %}
		{% endfor %}
		</tr>
	{% endfor %}
	
</table>
{% else %}
<br />
Nie ma zadań w tym semestrze.
{% endif %}

<a href="/admin" style="font-size: smaller">[a]</a>

{% endblock content %}
