{% extends "base.html" %}

{% block content %}
<h1>student: {{student}}</h1>
fajność: {{niceness}}<br />
<br />

{% for semester in solved_by_semester %}
	<h2>{{ semester.semester }}</h2>
	punkty: {{semester.points}}
	<br />
	Rozwiązane zadania:<br />
	{% for task in semester.solved %}
		<a href="{% url 'task' task.id %}">{{task.name}}</a>{% if not forloop.last %}, {% endif %}
	{% endfor %}
	<br />
	{% if semester.unsolved %}
		Nierozwiązane zadania w kolejności od najłatwiejszych:<br />
		{% for task in semester.unsolved %}
			<a href="{% url 'task' task.id %}">{{task.name}}</a>{% if not forloop.last %}, {% endif %}
		{% endfor %}
		<br />
	{% else %}
		Wszystkie zadania z tego semestru zostały rozwiązane! Brawo!<br />
	{% endif %}
	<br />
{% endfor %}
<br/>
<a href="/">Powrót do rankingu</a>
{% endblock content %}
