{% extends "base.html" %}

{% block content %}
<h1>zadanie: {{ task}}</h1>
treść: <a href="{{ task.url }}">{{ task.url }}</a><br/>
zadanie z dnia: {{ task.date|date:"d.m.y" }}

<br/>
<br/>
<a href="/">Powrót do rankingu</a>
{% endblock content %}
