<html><head><body>
<!-- http://stackoverflow.com/questions/10639769/how-can-i-find-out-what-500-error-am-i-getting-in-django -->
<b>Type:</b> {{ type }} <br />
<b>Value:</b> {{ value }} <br />
<b>Traceback:</b> <br /> 
{% for entry in traceback %}
	{{entry}} <br />
{% endfor %}

</body></head></html>